.navbar-brand {
    margin-left:30px;
}
.navbar {
    background-color: #c9e5ff;
    gap: 40px;
}
.navbar li {
  color: azure;
  font-size: 25px;
  justify-content: space-between;
}
@media screen and (max-width:768px){
   
  .navbar-brand {
    margin-left:0;
  }
  .collapse {
    margin-right:25px;
  }
 
}